@import "sideBar.css";
@import "mainFrame.css";

body {
  background-color: white;
  margin: 0px 0px;
}

/* .friends {
  margin-left: 15%;
  height: 100%;
}
.friends_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.friends_header_item {
  margin: auto 20px;
}
.friends_header_btn {
  border: none;
  background: none;
} */

.userProfile {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.userImg {
  height: 80px;
  width: 80px;
  border-radius: 33px;
}
.userName {
  margin-left: 10px;
}

.friends_list_section {
  margin-left: 20px;
  border-bottom: 1px solid rgb(242, 242, 242);
}
.section_label {
  font-size: 13px;
  padding: 10px 0px;
  color: rgb(127, 127, 127);
}

.friendsProfile {
  margin: 20px 0px;
  display: flex;
  align-items: center;
}
.friendsImg {
  height: 55px;
  width: 55px;
  border-radius: 23px;
  border-color: rgb(242, 242, 242);
}
.friendsName {
  margin-left: 10px;
}
