.sideBar {
  width: 15%;                                /* Side Bar 차지 비율 */
  height: 100%;
  background-color: rgb(236, 236, 237);
  color: rgb(172, 173, 177);

  display: flex;                            /* menuTop / menuBot 배치 설정 -> 세로 */
  flex-direction: column;

  position: fixed;                          /* Side Bar 고정 -> 스크롤 시 이동하지 않음 */
  /* position: absolute; */
}


/* --------------- Side bar 위쪽 ---------------  */
.menuTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  margin: 0px 0px;
}
.menuTop > div {
  margin-top: 40px;
}

/* --------------- Side bar 아래 ---------------  */
.menuBot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
  margin: 0px 0px;
}
.menuBot > div {
  margin-bottom: 30px;
}


/* --------------- Side bar 버튼 전체 ---------------  */
.sideBar_btn {
  color: rgb(172, 173, 177);
}

#sideBar_btn_now {
  color: rgb(52, 55, 64);
}
