body {
  background-color: rgb(178, 199, 217);
  margin: 0px 0px;
}

#chatScrHeader {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(169, 189, 206);

  box-sizing: border-box;
  margin: 0px 0px;
  padding: 10px;
  display: flex;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_column:first-child {
  width: 15%;
}
.header_column:last-child {
  width: 85%;
}
.iconGroup:first-child {
  margin-left: 10px;
}
.iconGroup:last-child {
  margin-right: 5px;
}

.reply {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  margin: 0px 0px;
  padding: 10px 10px;
  box-sizing: border-box;

  color: rgb(172, 173, 177);
}

.reply_row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 5px 0px;
}

.reply_column:first-child {
  width: 80%;
}
.reply_column:last-child {
  width: 15%;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: 0;
}

.reply input:focus {
  outline: none;
}

.reply_column button {
  background-color: rgb(255, 236, 66);
  border-style: solid;
  border-color: rgb(232, 215, 63);
  width: 55px;
  height: 33px;
}

input[type="range"] {
  /* -webkit-appearance: none; */

  width: 100%;
  height: 1px;
  cursor: pointer;
  padding: 0;
  accent-color: rgb(172, 173, 177);
}
